body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 20px;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
  width: 97%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

textarea {
  height: 100px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  background-color: #f5f5f5;
}

/* Estilos para resaltar errores de validación */
input:invalid {
  border-color: #ff0000;
}

input:invalid + label {
  color: #ff0000;
}

/* Estilos para resaltar campos requeridos */
label[for="title"]:before,
label[for="director"]:before {
  content: "*";
  color: #ff0000;
}
